# Next.js
.next/
out/

# Node dependencies
node_modules

# Build
*.tsbuildinfo
next-env.d.ts

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Temporary backup files
codigo_completo.txt
